{% extends "base.html" %}

{% block content %}
    <form action="" method="delete">
        <center>
            <h1>Usuń ogłoszenie</h1>
            <hr>
            {{ form.hidden_tag() }}
            <p>
                {{ form.id.label }}<br>
                {{ form.id(size=32) }}<br>
                {% for error in form.id.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </center>
    </form>
{% endblock %}